
<form>
        <div class="card">
            <h4>Register</h4>
    <div class="form-group">
        <label>Username:</label>
        <input type="text" class="form-control"/>
    </div>
    <div class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control"/>
        </div>
        <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control"/>
            </div>
            <div class="form-group">
                    <label>Gender</label><br>
                   <input type="radio" class="radio-inline" value="female" name="gender">F
                   <input  type="radio" class="radio-inline"  value="male" name="gender">M
                </div>
                <div class="checkbox-inline">
                        <label>Hobbies</label><br>
                        <input type="checkbox" value="music" name="hobbie">Music
                  
                        <input type="checkbox" value="songs" name="hobbie">Songs
              
                       <input type="checkbox" value="dance" name="hobbie">Dance
                     
            </div>   
            <a href="#/login"><button class="btn btn-primary btn-sm">Login</button></a>
</div>
</form>
