<div class=" navbar navbar-expand navbar-light bg-light">

    <div class="row"><h1 class="navbar-brand">Santhi</h1></div>
    <div>
        <div class="row collapse navbar-collapse">
         <div class="col-md-6">
            <ul class=" navbar-nav d-flex list-unstyled">
              <li class=" nav-item">abcd</li>
              <li class=" nav-item">efgh</li>
            </ul>
         </div>
         <div class="col-md-6">
            <ul class="navbar-nav dropdown list-unstyled">
              <li >ijkl</li>
            </ul>
         </div>
        </div>
</div>